{{#with product}}
<!-- Details Page -->
<section id="catalog-section">

    <h1 class="item">
        Fishing Boat
    </h1>
    <div class="item padded">

        <div class="layout right large">

            <div class="col">
                <img src="{{imageUrl}}" class="img-large">
            </div>

            <div class="content pad-med">

                <p>In category: <strong>{{category}}</strong></p>
                <p>{{description}}</p>
                <div class="align-center">
                    <div>
                        Current price: $<strong>{{price}}</strong>
                    </div>
                    {{#if ../user}}
                        {{#if ../currentBidder}}
                        <!-- If current user is the bidder -->
                        <div>
                            You are currently the <strong>highest bidder</strong> for this auction
                        </div>
                        {{else}}
                        <!-- If current user can place a bid -->
                        <form class="vertical" method="post" action="/product/details/{{_id}}/bid">
                            <label><span>Bid amount</span><input type="number" name="bidPrice"></label>
                            <input class="action" type="submit" value="Place bid">
                        </form>
                        {{/if}}
                    {{/if}}
                </div>

            </div>
        </div>

        <footer>Listed by {{author.firstName}} {{author.lastName}}</footer>
    </div>

</section>
{{/with}}