<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{product.homeImage}}">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name: {{product.name}}</h1>
                    <h2>Type: {{product.type}}</h2>
                    <h4>Year: {{product.year}}</h4>
                    <h4>City: {{product.city}}</h4>
                    <p>Description: {{product.propertyDescription}}</p>
                    {{#if tenants}}
                    <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                    <p>People rented this housing: {{tenants}}</p>
                    {{else}}
                    <!-- If not display: -->
                    <p>People rented this housing: There are no tenants yet.</p>
                    {{/if}}
                </div>
            </div>

            {{#if user}}
            <!-- if there is no registered user, do not display buttons-->
            <div class="product-btn">
                {{#if isOwner}}
                    <!-- Only for registered user and creator of the housing offer-->
                    <a href="/product/details/{{product._id}}/edit" class="edit">Edit</a>
                    <a href="/product/details/{{product._id}}/delete" class="remove">Delete</a>
                {{else}}
                    {{#if isFreeSpaceLeft}}
                        {{#if isAlreadyRented}}
                        <!-- logged in user with available pieces-->
                        <p class="alRentHome">You have already rent this home</p>
                        {{else}}
                        <a href="/product/details/{{product._id}}/rent" class="rentHome">Rent a home, available {{product.availablePieces}} housing</a>
                        {{/if}}
                    {{else}}
                    <!-- logged in user with no available pieces-->
                    <p class="no-housing">No Housing Available!</p>
                    {{/if}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</section>