<div class="container">
    <div class="col-9">
        <!-- Start Pet Photos Post Section -->
        {{#each products}}
        <div class="card">

            <!-- Start User Details and Image Location -->
            <div class="top">
                <div class="userDetails">
                    <!-- Link to User Profile Page TODO.. -->
                    <a href="/profile/{{owner._id}}">
                        <div class="profilepic">
                            <div class="profile_img">
                                <div class="image">
                                    <img src="/static/images/person.png">
                                </div>
                            </div>
                        </div>
                    </a>
                    <h3>
                        <!-- Link to User Profile Page -->
                        <p>
                            <!-- show user username -->
                            {{owner.username}}
                        </p>
                        <!-- photo's location -->
                        <span>{{location}}</span>
                    </h3>
                </div>
            </div>

            <!-- Start Pet Photo -->
            <div class="imgBx">
                <img src="{{image}}" alt="post" class="cover">
            </div>
            <!-- Name of Pet -->
            <h5 class="petName">Name: {{name}}</h5>
            <!-- Age of Pet -->
            <h5 class="petAge">Age: {{age}}</h5>
            <!-- Link to Photo Details Page -->
            <a href="/product/details/{{_id}}" id="see-details">
                <h4 class="details">See details</h4>
            </a>
        </div>
        {{else}}
        <!--If there are no photo yet!-->
        <article class="not-available-photo">
            <h1>No photo posts yet.</h1>
        </article>
        {{/each}}
    </div>

</div>