<main class="details">
    <!-- Details page -->
    <section id="details">
        <div id="details-wrapper">
            <p id="details-title">Name: {{product.name}}</p>
            <div id="img-wrapper">
                <img src="{{product.image}}" />
            </div>
            <div id="info-wrapper">
                <table>
                    <tr>
                        <td>
                            <p>
                                Years: <span id="details-years">{{product.years}}</span>
                            </p>
                        </td>
                        <td>
                            <p>Kind: <span id="details-kind">{{product.kind}}</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Need of: <span id="details-need">{{product.need}}</span></p>
                        </td>
                        <td>
                            <p>Location: <span id="details-location">{{product.location}}</span></p>
                        </td>
                    </tr>
                </table>
                <p>Description: <span id="details-description">{{product.description}}</span></p>
            </div>

            <!--Edit and Delete are only for creator-->
            {{#if user}}
            <div id="action-buttons">
                {{#if isOwner}}
                <a href="/product/details/{{product._id}}/edit" id="edit-btn">Edit</a>
                <a href="/product/details/{{product._id}}/delete" id="delete-btn">Delete</a>
                {{else}}
                    {{#if isAlreadyDonated}}
                    <p id="already-donated">You already donated!</p>
                    {{else}}
                    <a href="/product/details/{{product._id}}/donate" id="donation-btn">Donation</a>
                    {{/if}}
                {{/if}}
            </div>
            {{/if}}
        </div>
    </section>
</main>