<section class="crypto-market">
    <h1><span>Crypto</span> Trade</h1>
    {{#if products}}
    <div class="offer-list">
        {{#each products }}
        <div class="coin">
            <div class="coin-img">
                <img src="{{image}}">
            </div>
            <div class="coin-info">
                <h1>{{name}}</h1>
                <p><span>Price: </span>${{price}}</p>
                <p><span>Payment: </span>{{payment}}</p>
            </div>
            <a href="/product/details/{{_id}}" class="btn-details">Details</a>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="no-offer">
        <p>There are no crypto offers found!</p>
    </div>
    {{/if}}
</section>