<section class="crypto-search">
    <h1>Search</h1>

    <form class="search-form" action="/search" method="post">
        <input type="text" class="search-coin" name="search" placeholder="Search here..." value="{{body.search}}">
        <select id="payment" name="payment">
            <option value="crypto-wallet" {{returnSelectedIfEqual body.payment 'crypto-wallet'}}>Crypto Wallet</option>
            <option value="credit-card" {{returnSelectedIfEqual body.payment 'credit-card'}}>Credit Card</option>
            <option value="debit-card" {{returnSelectedIfEqual body.payment 'debit-card'}}>Debit Card</option>
            <option value="paypal" {{returnSelectedIfEqual body.payment 'paypal'}} >PayPal</option>
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>
    {{#if products}}
    <div class="search-result">
        <div class="search-list">
            {{#each products}}
            <div class="coin">
                <div class="coin-img">
                    <img src="{{image}}">
                </div>
                <div class="coin-info">
                    <h1>{{name}}</h1>
                    <p><span>Price: </span>${{price}}</p>
                    <p><span>Payment: </span>{{payment}}</p>
                </div>

                <a href="/product/details/{{_id}}" class="btn-details">Details</a>
            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="no-match">
        <p>No match was found!</p>
    </div>
    {{/if}}
</section>